html, body {
    margin: 30px;
    padding: 0;
    font-family: "Open Sans";
}

.container {
    max-width: 600px;
}

.dropdown {
    margin: 20px 0;
    cursor: not-allowed;
    position: relative;
    outline: none;
}
.dropdown-head {
    border: 1px solid lightgrey;
    width: 100%;
    padding: 15px 10px;
    position: relative;
    box-sizing: border-box;
    color: #aaa;
}
.active .dropdown-head:hover {
    border-width: 2px;
    padding: 14px 9px;
}
.active {
    cursor: pointer;
}
.active .dropdown-head {
    border: 1px solid gray;
    color: black;
}
.active.error .dropdown-head {
    border-bottom: 2px solid red;
}
.active.correct .dropdown-head {
    border-bottom: 2px solid green;
}
.dropdown-head img {
    position: absolute;
    right: 10px;
    top: 25px;
    width: 10px;
}
.open .dropdown-head img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.dropdown-head i {
    position: absolute;
    left: 10px;
    top: -9px;
    background-color: white;
    font-size: 12px;
    padding: 0 4px;
    font-style: normal;
}
.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    border: 1px solid gray;
    border-top: 0;
    box-sizing: border-box;
    z-index: 100;
}
.dropdown-list p {
    padding: 10px;
    margin: 0;
    color: #555;
}
.dropdown-list p:hover {
    background-color: #fafafa;
    color: black;
}